/* 
---font-family: 'Acme', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Poppins', sans-serif; */
.custom-card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);

}
.custom-card a:hover{
    color: red;
    
}
.navbar{
    background-color: #ECEEF3;
    font-size: 20px;
    cursor: pointer;
}

.footer{
    
    position: fixed;
    bottom: 0;
    margin-top: 30px;
}
img:hover{
    background-color: #ECEEF3;
}
.hero-left h1{
    font-size: 80px;
    color: red;
}
.img-gal{
    background-color: red;
    border-radius: 83% 17% 83% 17% / 25% 61% 39% 75% ;
}
.navlog{
    color: red;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.images img{
   
    cursor: pointer;
    border: none;
}
.search-photos{
    background-color: red;
    border-radius: 100% 10% 95% 0% / 100% 100% 100% 10%;
    color: white;
}