{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="h3 mb-3 font-weight-normal">
        Upload image
    </h2>
    <form action="" method="POST" class="form-control" enctype="multipart/form-data">
        <label for="image" class="custom-file-label"></label>
        <input type="file"  name="image" class="custom-file-input" required>choose a file
        <input type="submit">
        <br/>
        <button class="btn btn-primary" type submit>Upload Photo</button>
    </form>
</div>
{% endblock%}