{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for item in categories %}
        
        <div class="col-md-4 bg-primary text-white h-50">
            <h5 class="card-title">{{item.title}}, Taken in:{{item.location}}</h5>
            <img class="img-responsive" src="{{item.image.url}}" width="500" height="500" alt="">
            <a href="/" class="btn btn-primary btn-sm">Back</a> 
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}