{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Home Photo</h1>
    <div class="row">
        <div class="col-md-7">
            <img src="" alt="photo">
        </div>
        <div class="col-md-4">
            <h4>Title:Home</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis necessitatibus corrupti, aspernatur pariatur architecto soluta illo repellat dolore excepturi facilis eius provident alias nobis minus inventore asperiores voluptatum eveniet aperiam.</p>
        </div>
    </div>
   
</div>
{% endblock %}